@import "tailwindcss";

@theme {
	--color-bright-primary: #00a63e;
	--color-bright-secondary: #00bba7;
	--color-light-primary: antiquewhite;
	--color-light-secondary: lightsteelblue;
	--color-dark-primary: #1d293d;
	--color-dark-secondary: #0a061a;

	--radius-card: 1rem;

	--shadow-primary: 10px 10px;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Atkinson", sans-serif;
	color: var(--color-light-primary);
	margin: 0;
	padding: 0;
}

blockquote {
	@apply text-xl italic font-bold text-light-secondary
}

.active-dropdown {
	@apply h-auto scale-y-100;
}

.transition-primary {
	@apply transition-all duration-105 ease-out
}

.transition-secondary {
	@apply transition-all duration-300 ease-out
}

@layer utilities {

	/* Hide scrollbar for Chrome, Safari, and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge, and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}