@import "tailwindcss";

@theme {
	--color-bright-primary: #00a63e;
	--color-bright-secondary: #00bba7;
	--color-light-primary: antiquewhite;
	--color-dark-primary: #1d293d;
	--color-dark-secondary: #0a061a;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Atkinson", sans-serif;
	color: var(--color-light-primary);
	margin: 0;
	padding: 0;
}

.active-dropdown {
	@apply h-auto scale-y-100;
}