@import "tailwindcss";
@import "./global.css";

.post-body {
  h2 {
    @apply text-3xl font-bold mt-6 mb-3;
  }

  p {
    @apply text-xl mb-3;
  }

  a {
    @apply text-bright-secondary underline;
  }
}