---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import P from "../components/P.astro";
import TerminalCard from "../components/TerminalCard.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="alex_lu/home">
    <Main>
        <H1> Hi all! I'm Alex Lu. </H1>
        <P>
            I'm a self-taught game developer who also dabbles in a bit of
            everything.
        </P>
        <P>
            My main focus is on creating immersive and unique experiences, from
            experimenting with control schemes to recreating UI of the past.
        </P>

        <TerminalCard title="cat about.txt">
            <P>
                I'm a student developer currently in the Computer System
                Technology program at the British Columbia Institute of
                Technology. I'm 18, based in Richmond, B.C. - Canada, and am an
                asprin.
            </P>

            <P>
                If I was asked when my journey began, I would not be able to
                answer. Would it be my first "Hello World" during the first
                summer before highschool? Using Scratch? Or would it have been
                further back, playing make-believe in my cousin's basement?
            </P>

            <P>
                What I do know is that I have always been passionate about
                creation, my tools and experience beingthe only changes
                throughout. Right now, code is my chisel and text files my
                stone.
            </P>
            <P>
                I'm not picky with this though! I love anything fun, funky, or
                frivolous. Although my skills in these are essentially
                non-existent, I also love exploring language, doodling, and
                occasionally writing short stories.
            </P>

            <P
                >Outside of games and software, you might find me doing one of
                my many random hobbies. That rustle in the bushes? Might be a
                wild Alex taking a run through the trees. Not hearing much? I'm
                probably enjoying a good fantasy or drama novel.
            </P>
        </TerminalCard>

        <TerminalCard title="cat skills.txt">
            <P
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis officia tempora illo labore ea laudantium magnam
                accusamus sapiente illum dolorum. Nemo delectus modi hic optio
                nobis eveniet, consequuntur vitae id alias quasi, pariatur illum
                voluptatem voluptatibus ad quo, labore esse rem aperiam.
                Repellendus aspernatur quae nisi vero voluptas itaque fugit!</P
            >
        </TerminalCard>

        <TerminalCard title="ls projects">
            <div>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Obcaecati vero officiis deserunt distinctio veritatis repellat
                animi pariatur maiores, nesciunt debitis?
            </div>
        </TerminalCard>

        <TerminalCard title="Check these out now!" />
    </Main>
</Layout>
