---
import H1 from "../components/H1.astro";
import P from "../components/P.astro";
import Slideshow from "../components/Slideshow.astro";
import ImageCard from "../components/ImageCard.astro";
import TerminalCard from "../components/TerminalCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="alex_lu/home">
    <H1> Hi all! I'm Alex Lu. </H1>
    <P>
        I'm a self-taught game developer who also dabbles in a bit of
        everything.
    </P>
    <P>
        My main focus is on creating immersive and unique experiences, from
        experimenting with control schemes to recreating UI of the past.
    </P>

    <TerminalCard title="cat about.txt">
        <P>
            I'm a student developer currently in the Computer System Technology
            program at the British Columbia Institute of Technology. I'm 18,
            based in Richmond, B.C. - Canada, and am an asprin.
        </P>

        <P>
            If I was asked when my journey began, I would not be able to answer.
            Would it be my first "Hello World" during the first summer before
            highschool? Using Scratch? Or would it have been further back,
            playing make-believe in my cousin's basement?
        </P>

        <P>
            What I do know is that I have always been passionate about creation,
            my tools and experience being the only changes throughout. Right
            now, code is my chisel and text files my stone.
        </P>

        <P
            >Outside of games and software, you might find me doing one of my
            many random hobbies. That rustle in the bushes? Might be a wild Alex
            taking a run through the trees. Not hearing much? I'm probably
            enjoying a good fantasy or drama novel. Ramblings of a madman? C'est
            moi aussi (writing a short story but I can't find the right words).
        </P>
    </TerminalCard>

    <TerminalCard title="cat skills.txt">
        <P
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
            officia tempora illo labore ea laudantium magnam accusamus sapiente
            illum dolorum. Nemo delectus modi hic optio nobis eveniet,
            consequuntur vitae id alias quasi, pariatur illum voluptatem
            voluptatibus ad quo, labore esse rem aperiam. Repellendus aspernatur
            quae nisi vero voluptas itaque fugit!</P
        >
    </TerminalCard>

    <TerminalCard title="ls projects">
        <Slideshow>
            <ImageCard
                title="tGame"
                image="/assets/blog-placeholder-about.jpg"
                description="A mini Python package for making games in the terminal."
            />
            <ImageCard
                title="tGame"
                image="/assets/blog-placeholder-about.jpg"
                description="A mini games in the terminal."
            />
            <ImageCard
                title="tGame"
                image="/assets/blog-placeholder-about.jpg"
                description="A mini Python package for making games in the terminal."
            />
        </Slideshow>
    </TerminalCard>

    <TerminalCard title="Check these out now!" />
</Layout>

<script>
    function revealCard(
        text: String,
        scrollIndex: number,
        element: any,
        revealAtEnd: any,
        delay_in_milliseconds = 50,
    ) {
        element.textContent = text.substring(0, scrollIndex);

        if (scrollIndex == text.length) {
            setTimeout(() => {
                revealAtEnd.classList.remove("scale-y-0");
                revealAtEnd.classList.remove("text-dark-secondary");
            }, 5 * delay_in_milliseconds);
            return;
        }
        scrollIndex += 1;
        setTimeout(() => {
            revealCard(text, scrollIndex, element, revealAtEnd);
        }, delay_in_milliseconds);
    }

    function onIntersection(entries: Array<IntersectionObserverEntry>) {
        for (let entry of entries) {
            const target = entry.target;
            const targetHeading = target.querySelector(
                ".animate-scroll-visible",
            );
            const targetReveal = target.querySelector(
                ".animate-finish-visible",
            );
            if (
                entry.isIntersecting &&
                target &&
                !target.hasAttribute("revealed") &&
                targetHeading &&
                targetReveal
            ) {
                target.setAttribute("revealed", "true");

                const text = target.getAttribute("title") || "undefined";

                targetHeading.textContent = "";
                revealCard(text, 0, targetHeading, targetReveal);
            }
        }
    }
    const observer: IntersectionObserver = new IntersectionObserver(
        onIntersection,
    );

    const terminalCard: NodeListOf<HTMLElement> | null =
        document.querySelectorAll(".TerminalCard");

    for (let card of terminalCard) {
        if (card) observer.observe(card);
    }
</script>
