---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import P from "../components/P.astro";
import TerminalCard from "../components/TerminalCard.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="alex_lu/home">
    <Main>
        
        <H1> Hi all! I'm Alex Lu. </H1>
        <P> I'm a self-taught game developer who also dabbles in a bit of everything. </P>
        <P> My main focus is on creating immersive and unique experiences, from experimenting with control schemes to recreating UI of the past. </P>

        <TerminalCard title="cat about.txt">

        </TerminalCard>

        <TerminalCard title="cat skills.txt">

        </TerminalCard>

        <TerminalCard title="ls projects">

        </TerminalCard>

        <TerminalCard title="Check these out now!">
            
        </TerminalCard>

    </Main>
</Layout>
