---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import P from "../components/P.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="alex_lu/home">
    <Main>
        <H1> Hi, I'm Alex Lu. </H1>
        <P>Blah Blah Blah</P>
        <P
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
            labore perferendis vitae fugiat nulla, accusantium velit enim iusto
            earum magni! Quo blanditiis natus, at quidem, molestias amet
            architecto et expedita deserunt ipsam dolores tenetur minus magnam
            laborum temporibus doloremque! Quibusdam.:</P
        >
    </Main>
</Layout>
