---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="alex_lu/home">
    <Main>
        <H1> Hi, I'm Alex Lu. </H1>
    </Main>
</Layout>
