---
import H1 from "./H1.astro";
import P from "./P.astro";
---

<footer class="max-w-full flex flex-col space-y-6 p-9">
    <div
        class="bg-dark-secondary flex flex-col text-left p-6 border-2 border-light-primary rounded-xl"
    >
        <H1>
            &gt;
            <span class="text-bright-primary"> where "Alex Lu" </span>
        </H1>
        <div
            class="max-w-xl grid grid-cols-1 md:grid-cols-2 space-x-9 space-y-1 text-left text-bright-secondary"
        >
            <a
                href="https://github.com/Al0102"
                target="_blank"
                class="hover:underline"
            >
                Github (Al0102)
            </a>
            <a
                href="https://alexl0102.itch.io"
                target="_blank"
                class="hover:underline"
            >
                Itch.io (Alexl0102)
            </a>
            <a
                href="mealex2007@gmail.com"
                target="_blank"
                class="hover:underline"
            >
                Email (mealex2007@gmail.com)
            </a>
            <a
                href="https://github.com/Al0102"
                target="_blank"
                class="hover:underline"
            >
                LinkedIn (Please hire me 🙏)
            </a>
        </div>
    </div>
    <P class="px-6">
        Made using
        <span
            class="inline-block px-3 py-1 rounded-full bg-linear-to-br text-[#00f7ff] from-[#0105ff] to-[#571791] hover:scale-110 transition-primary"
        >
            <a href="https://astro.build/" target="_blank">Astro</a>
        </span>
        with
        <span
            class="inline-block px-3 py-1 rounded-full bg-linear-to-br to-[#b14111] from-[#e15e22] hover:scale-110 transition-primary"
        >
            <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a
            >
        </span>
        and
        <span
            class="inline-block px-3 py-1 rounded-full bg-linear-to-br text-[#1748ea] to-[#0ea5e9] from-[#d5f0fc] hover:scale-105 transition-primary"
        >
            <a href="https://v3.tailwindcss.com/" target="_blank">TailwindCSS</a
            >
        </span>.
    </P>
</footer>
