---
import H1 from "./H1.astro";
---

<header
    class="flex flex-col md:flex-row space-x-3
        m-3 mt-6 px-6 w-full md:w-fit sticky top-0 text-green-600
        hover:[&_ul]:scale-y-100 hover:[&_ul]:h-auto"
>
    <H1 class="underline-offset-12">
        <a href="/" class="hover:underline">alex_lu</a>
        <span class="dropdown-button text-teal-500">{Astro.url.pathname}</span>
    </H1>
    <div class="relative">
        <ul
            class="flex flex-col space-y-3 justify-start absolute
                text-teal-500 text-2xl font-bold *:hover:underline
                bg-black p-6 rounded-xl w-full md:w-fit
                scale-y-0 h-0 origin-top transition-transform duration-100"
        >
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blog">blog</a></li>
        </ul>
    </div>

    <script>
        const header = document.querySelector("header");
        if (!header) throw new Error("Header incorrectly loaded");
        const dropdown = header.querySelector(".dropdown-button");
        const ul = header.querySelector("ul");
        if (!(dropdown && ul)) throw new Error("dropdown incorrectly loaded");

        dropdown.addEventListener("click", () => {
            ul.classList.toggle("active-dropdown");
        });
    </script>
</header>
