---
import { getCollection } from "astro:content";
import H1 from "../../components/H1.astro";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import ImageCard from "../../components/ImageCard.astro";

const projects = await getCollection("projects");
---

<Layout>
  <Main>
    <H1> Projects </H1>
    <div class="flex flex-wrap">
      {
        projects.map((project) => (
          <a href={`/projects/${project.slug}`}>
            <ImageCard
              title={project.data.title}
              image={project.data.image}
              bg_colour="dark-secondary hover:-translate-y-3 transition-secondary"
            />
          </a>
        ))
      }
    </div>
  </Main>
</Layout>
